<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>{<br>
    'first_name': {{first_name}},<br>
 'Last_name': {{last_name}},<br>
 'email': {{email}},<br>
 'company': {{company}},<br>
  'tabs': {{tabs}}<br>
    }
</p>

</body>
</html>